body{
    background-image: url("../overlay/background.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
}


.button{
    display: inline-block;
    border-radius: 15px;
    background-color: dodgerblue;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 150px;
    cursor: pointer;
    margin: 2px;
    text-decoration: none;
}
.button:active {
    background-color: #ffbf00;
}
.button:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 2px brown;
    transition: 0.7s;
}
  
#container{
    background-color: dodgerblue;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 1280px;
    padding: 10px;
    color: #FFFFFF;
}
#button{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    text-align: center;
}